{% extends "BloghovenAbstractThemeBundle::layout.html.twig" %}

{% block title %}
{{category.name}} — {{parent()}}
{% endblock %}

{% block main %}
  <h1>{{category.name}}</h1>

  {% for entry in pager.currentPageResults %}
    {% include "BloghovenAbstractThemeBundle::short-entry.html.twig" with {'entry': entry} only %}
  {% endfor %}
  
  <div class="pagerfanta">
    {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'Bloghoven_index'}) }}
  </div>
{% endblock %}